:root {
  --bg-color-dark: black;
  --bg-color-light: white;
  --text-color-dark: white;
  --text-color-light: black;
}

body {
  font-family: "Inter", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 768px;
}

.example-1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.quote-1 {
  margin-right: 25px;
}

.quote-1,
.testimonial-card-3 {
  padding: 20px;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  border-radius: 25px;
  position: relative;
}

.quote-1::before {
  content: "";
  background-color: var(--bg-color-dark);
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: -7.6px;
  left: 50px;
  transform: rotate(47deg) skew(5deg);
  -moz-transform: rotate(47deg) skew(5deg);
  -ms-transform: rotate(47deg) skew(5deg);
  -o-transform: rotate(47deg) skew(5deg);
  -webkit-transform: rotate(47deg) skew(5deg);
}

.author-1,
.author-2 {
  padding: 1vh;
  display: flex;
}

.example-1 img,
.author-slider img {
  padding: 10px;
  border-radius: 50%;
}

.testimonial-card-2,
.testimonial-card-4 {
  border-style: solid;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.example-2 img {
  border-radius: 25px;
  margin-right: 10px;
}

.example-2 {
  display: flex;
  margin-bottom: 25px;
}

.example-2 p {
  color: gray;
  font-size: 20px;
  font-weight: 400;
}

.testimonial-card-4 {
  text-align: center;
}

.author-slider .img-unselected {
  filter: opacity(40%);
}

.author-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
