:root {
  --background-color: white;
  --text-color: black;
  --text-accent-color: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.changelog-container {
  border-style: solid;
  border-radius: 15px;
  padding: 2rem;
  text-align: center;
}

.changelog-container p {
  color: var(--text-accent-color);
}

.timeline {
  margin-top: 5vh;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--text-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-item {
  text-align: right;
  position: relative;
  width: calc(50% + 1px);
  padding-right: 20px;
  margin-bottom: 20px;
}

.timeline-date {
  color: var(--text-accent-color);
}

.timeline-item .timeline-content {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: inline-block;
}

.timeline-item:nth-child(even) {
  text-align: left;
  left: calc(50% - 1px);
  padding-right: 0px;
  padding-left: 20px;
}

.timeline-item:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: -4px;
  background-color: var(--text-color);
  border-radius: 50%;
  top: 10px;
}

.timeline-item:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: -4px;
  top: 10px;
}

.timeline-item:nth-child(even):before {
  left: -4px;
  right: auto;
}

.button {
  display: inline-block;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 20px;
}

.button:hover {
  background-color: #404040;
}
